<div class="card mb-4 box-shadow" style="min-width: 18rem">
    <!-- Images are optional, display it if we have one. -->
    {% if listing.image_url %}
        <a href="{% url 'listing' listing.id %}">
            <img class="card-img-top" src="{{ listing.image_url }}" alt="Card image cap">
        </a>
    {% endif %}
    <div class="card-body" style="min-width: 18rem">
        <a href="{% url 'listing' listing.id %}"><h4 class="card-text">{{ listing.headline }}</h4></a>
        <!--  When there are no bids display minimum bid as starting price -->
        {% if listing.top_bid %}
            <span class="text-success">Current Option for Fostering: <strong>{{ listing.top_bid.bid|floatformat }}</strong></span><br>
        {% else %}
            <span class="text-success">Minimum Number of Days: <strong>{{ listing.min_bid|floatformat }}</strong></span><br>
        {% endif %}
        <small class="text-muted">Category: {{ listing.get_category_display }}, created by {{ listing.owner }}
            on {{ listing.listing_date }}</small>
        <div class="card-text"><p>{{ listing.description |safe }}</p>
        <p> Breed: {{ listing.breed | safe }}</p>
        <p>Weight (approx):{{ listing.weight | safe }}</p>
        <p> Age (in months): {{ listing.age |safe }}</p>
        <p>Gender: {{ listing.gender | safe }}</p>
        <p>City: {{listing.get_city_display }} </p>
        <p>Contact: {{listing.contact | safe }}</p>
    </div>
       
      
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <!-- This Listing button is redundant on the Listing page, so hide it. -->
                {% if '/listing' not in request.path %}
                    <a href="{% url 'listing' listing.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                {% endif %}
                <!-- Watchlist feature is only available if user is logged in -->
                {% if user.is_authenticated %}
                    {% if listing in watchlist or watchlist_flag is not None %}
                        <form method="post" action="{% url 'remove_watchlist' %}">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                            <button type="submit" class="btn btn-info btn-sm ml-1"><img
                                    style="height: 18px;" src="/static/auctions/heart.png"/><span
                                    class="ml-2 mr-2">Remove from Favorites</span></button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'add_watchlist' %}">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                            <button type="submit"
                                    class="btn btn-sm btn-outline-secondary ml-1">Add to Favorites
                            </button>
                        </form>
                    {% endif %}
                    {% if listing.status == listing.CLOSED %}   <!-- Closed listing indicator  -->
                        <a href="{% url 'listing' listing.id %}" class="btn btn-warning btn-sm ml-1">
                            <strong class="mr-2 ml-2">Closed</strong>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
