<div class="card">
    <div class="card-header">
        <!-- Allow the Listing owner to close & accept the auction. -->
        {% if user.id == listing.owner.id and listing.status != listing.CLOSED %}
            <form method="post" action="{% url 'close_listing' %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col"><h4>Fostering Summary</h4>
                    </div>
                    <p>Preferred if you leave your number in comments or you can contact the owner for updates. </p>
                    <div class="col text-right">
                        <button class="btn btn-warning btn-sm" type="submit">
                            <strong class="mr-2 ml-2">Close Post</strong>
                        </button>
                    </div>
                </div>
                <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
            </form>
        {% else %}<!-- No close auction option. -->
            <div class="col"><h4>Summary</h4></div>
        {% endif %}
    </div>
    {% if listing.status == listing.CLOSED %}
        <ul class="list-group list-group-flush">
        <!-- When a logged in user has won the auction give them a message. -->
            {% if listing.top_bid.owner.id == request.user.id %}
                <li class="list-group-item">
                    Pet is waiting for you! <strong>{{ listing.top_bid.owner }}</strong>
                </li>
            {% endif %}
            <li class="list-group-item"><strong>CLOSED</strong></li>
            <li class="list-group-item">
                <span class="text-success">Final: {{ listing.top_bid.bid|floatformat }}</span></li>
        </ul>
    {% else %}
        <form method="post" action="{% url 'place_bid' %}">
            {% csrf_token %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Current Option:
                    <span class="text-success ">
                        {% if listing.top_bid %}
                            <b>{{ listing.top_bid.bid|floatformat }}</b> from {{ listing.top_bid.owner }}
                        {% else %}
                            No-one available.
                        {% endif %}
                    </span>
                </li>
                <li class="list-group-item">Minimum required number of days:
                    <span class="card-text"><b>{{ listing.min_bid|floatformat }}</b></span>
                </li>
                <!-- Only registered users can bid. -->
                {% if user.is_authenticated %}
                    <li class="list-group-item">
                    <small class="text-muted">Minimum days should be 1.</small>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                            </div>
                            {{ form.bid }}
                            <div class="input-group-append">
                                <span class="input-group-text"></span>
                            </div>
                            <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                        </div>
                    </li>
                    <li class="list-group-item text-right">
                        <button type="submit" class="btn btn-success"><strong> Enter the number of Days</strong>
                        </button>
                    </li>
                    <!-- Prompt users to login and bid. -->
                {% else %}
                    <li class="list-group-item text-right">
                        <strong>Please <a href="{% url 'login' %}">login</a> to explore.</strong>
                        <button type="submit" class="btn btn-secondary" disabled><strong> Enter
                            the number of 
                            Days</strong>
                        </button>
                    </li>
                {% endif %}
            </ul>
        </form>
    {% endif %}
</div>