{% extends "auctions/layout.html" %}

{% block body %}
<h2>Checklist for New Adopters</h2>
<p>Congratulations on thinking of adopting an indie! You are embarking on a wonderful and rewarding relationship. Because adopting a new pet comes with a lot of change for both pet and pet parent, we’ve compiled a checklist to help make the transition as smooth as possible.</p>
<h3>Things to consider before adopting!:</h3>
<ul>
    <li>Do you have any other pets and how will they react to a new pet?</li>
    <li>Is your current residence suited to the pet you’re considering?</li>
    <li>How will your social life or work obligations affect your ability to care for a pet?    </li>
    <li>Do you have a plan for your new pet during vacations and/or work travel?</li>
    <li>How do the people you live with feel about having a pet in the house? </li>
    <li>Are you (or your spouse, partner or roommate) intolerant of hair, dirt and other realities of sharing your home with a pet, such as allergies?</li>
    <li>What breed, or species, of animal is the best fit with your current lifestyle?</li>
    <li>Is there tension in the home? Pets quickly pick up on stress in the home, and it can exacerbate their health and behavior problems.</li>
    <li>Is there an adult in the family who has agreed to be ultimately responsible for the pet’s care?</li>

    <li>If all the above questions are answered, read ahead!</li>

</ul>
<h3>Other Considerations:</h3>
<ul>
<li>What do you expect your pet to contribute to your life? For example, do you want a running and hiking buddy, or is your idea of exercise watching it on TV? </li>
<li>If you are thinking of adopting a young animal, do you have the time and patience to work with the pet through its adolescence, taking house-breaking, chewing and energy-level into account?</li>
<li>Have you considered your lifestyle carefully and determined whether a younger or older animal would be a better match for you?</li>
<li>Can you train and handle a pet with behavior issues or are you looking for an easy-going friend?</li>
<li>Do you need a pet who will be reliable with children or one you can take with you when you travel?</li>
<li>Do you want a pet who follows you all around the house or would you prefer a less clingy, more independent character?</li>
</ul>
<h3>Size Considerations</h3>
<ul>
    <li>What size pet can your home accommodate?</li>
    <li>Will you have enough room if your pet grows to be bigger than expected?
    <li>How big a pet can you travel comfortably with?</li>
</ul>
<h3>Time Considerations</h3>
<ul>
    <li>Pets need to be fed two to three times a day, more often in the case of puppies, and need a constant supply of fresh water.</li>
    <li>A responsible pet parent should spend at least one hour per day giving direct attention to his or her pet. This may include training, exercising, grooming, and playing or, with cats, may just be lap time on the couch. Dogs will need to be taken out to potty several times a day.</li>
    <li>A pet with an abundance of energy needs more time to exercise and interactive toys to keep them entertained.</li>
    <li>Pets with long coats need 20 minutes a day of grooming to prevent matting.</li>
    <li>Pets with certain medical conditions may need additional attention, including specifically timed injections in the case of diabetic animals.</li>
</ul>
<h3>Pet Costs</h3>
<p>Some expenses are mandatory for all pets, including:</p>
<ul>
    <li>Food</li>
    <li>Routine veterinary care</li>
    <li>Licensing according to local regulations</li>
    <li>Collars leashes and identification tags</li>
    <li>Spaying or neuter costs</li>
    <li>Kitty litter and box</li>
    <li>Basic grooming equipment and supplies</li>
</ul>
<p>Other expenditures may not be required but are highly recommended:</p>
<ul>
    <li>Permanent identification such as a microchip or tattoo</li>
    <li>Training classes</li>
    <li>Additional grooming supplies or professional grooming</li>
    <li>A spare collar or leash</li>
    <li>A bed and toys</li>
    <li>A crate or carrier</li>
</ul>
<h3>Shopping Checklist</h3>
<p> After selection of your new pet, shop for supplies based on the pet's size and habits</p>
<p>Here's a checklist of supplies you may need:</p>
<h4>Necessary Items for Dogs:</h4>
<ul>
    <li>Food and water bowls</li>
    <li>Food(canned and/or dry)</li>
    <li>Collar</li>
    <li>Four to six-foot leash</li>
    <li>ID tag with phone number</li>
    <li>Hard plastic carrier or foldable metal crate</li>
    <li>Dog bed</li>
    <li>Doggy shampoo and conditioner</li>
    <li>Nail clippers</li>
    <li>Brush or comb</li>
    <li>Sponge and scrub brush</li>
    <li>Plastic poop baggies</li>
    <li>Absorbent house-training pads</li>
    <li>Variety of toys</li>
    <li>Variety of treats </li>
    <li>First-aid supplies</li>
    <li>Baby gate(s)</li>
    
</ul>

<h4>Necessary Items for Cats:</h4>
<ul>
    <li>Food and water bowls</li>
    <li>Food(canned and/or dry)</li>
    <li>Collar</li>
    <li>Litter box and scooper</li>
    <li>ID tag with phone number</li>
    <li>Hard plastic carrier</li>
    <li>Feline toothbrush and toothpaste</li>
    <li>Nail clippers</li>
    <li>Brush or comb</li>
    <li>Sponge and scrub brush</li>
    <li>Variety of toys</li>
    <li>Enzymatic odor neutralizer </li>
    <li>First-aid supplies</li>
    
</ul>

<h3>Got all the boxes checked it seems, you're fit to be a pet parent!
    Tap the "Listings" option and browse your options..
    Happy Parenting !
</h3>

<a href="{% url 'index' %}">BACK</a>
{% endblock %}