{% extends "auctions/layout.html" %}

{% block body %}

<h2>FAQs</h2>

<h3>Q1.Why adopt from Pawdoptions?</h3>
<p>When you adopt an animal from Pawdoptions, you save a life and a space opens up which will welcome another great dog or cat and save its life. In addition, besides the obvious advantage of saving a life you also get a chance to find a companion who is a good match for your personality and lifestyle. You would also have a chance to go through articles related to all sorts of tips and tricks to handle and take care of your pet companion.
Even with the best-behaved animal, however, you should expect to go through a period of adjustment as your pet becomes used to a new home, family, and routine. No animal, no matter where it comes from, is problem free or comes with a health and behavior guarantee, but if you’re prepared to provide your new family member with some time, training, and patience, your reward will be a loving companion.</p>

<h3>Q2. Are there requirements following the adoption?</h3>
<ul>
    <li>Having a companion animal brings rewards and responsibilities. Following your pet’s adoption, you will be responsible for making sure your pet is safe and for providing regular veterinary care.</li>
    <li>Be sure your pet has appropriate identification.</li>
    <li>Provide nutritious food and fresh water for your pet.</li>
    <li>Make time for exercise, training, and play. Finally, enjoy your new life with your new loving companion.</li>
</ul>

<h3>Q3. Does Pawdoptions really have purebred animals for adoption?</h3>
<p>It is estimated that about 25% of the animals in shelters nationwide are purebred. If you are interested in a specific breed, check our website, or you can contact the person in charge directly. Even if we do not have the breed you are looking for, you may be able to find an animal that has traits that are similar to those of the breed you have in mind.</p>


<h3>Q4.What if i am not sure as to how to take care of my pet before choosing one for adoption?</h3>
<p>This is something very common, especially the ones who are to adopt a pet for the first time. Pawdoptions does provide recommended articles and blogs related to this. It would definetely be a great use to you.</p>

<h3>Q4.What if i have some difficulties after i adopt?</h3>
<p>We understand that after you get the pet home, the adjustment period can be difficult. You would have already got in touch with the person in charge while adopting. So you could get in touch with them again and they would surely help you out with whatever difficulties you are facing!</p>

<a href="{% url 'index' %}">BACK</a>
 {% endblock %}

