{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Please sign in</h2>
                {% include 'auctions/messages.html' %}
                <form action="{% url 'login' %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <span class="small"><strong>Username:</strong></span>
                    <input type="text" name="username" class="form-control mb-2" placeholder="Username" maxlength="150">
                    <span class="small"><strong>Password:</strong></span>
                    <input type="password" name="password" class="form-control mb-2" placeholder="Password"
                           maxlength="128">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                </form>
                Don't have an account? <a href="{% url 'register' %}">Register here.</a>
            </div>
        </div>
    </div>
{% endblock %}