{% extends "auctions/layout.html" %}

{% block body %}
  
<h2>Turn on the recommending section and explore more to know your furry family member better!</h2>
<form class="" action="result" method="get" text-align='center'>
    <h2 text-align='center'> Enter the category of articles & blogs you are looking for:</h2>
    <label for="">Category</label>
    <br>
    <input type="text" name="category" value="" placeholder="category" required id="category">
    <p></p>
    <label for="">Number of Recommendations</label>
    <br>
    <input type="number" name="num_recomm" value="" placeholder="num_recomm">
    <p></p>
    <input type="submit" name="submit_btn" value="SUBMIT", id='sub'>

</form>
{% endblock %}